.alert {
    display: none;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    span,
    p {
        display: inline-block;
        vertical-align: middle;
    }
    .icon {
        padding-left: 10px;
        font-size: 45px;
        width: 70px;
    }
    .description {
        width: 80%;
        font-size: 13px;
    }
    &.danger {
        background: lighten($error, 25%);
        border: 1px solid $destroy;
        color: $destroy;
        .icon {
            color: $destroy;
        }
    }
    @include bp-xs {
        .icon {
            font-size: 30px;
            width: 30px;
        }
        .description {
            width: 75%;
        }
    }
}
